@import './base.scss';
@import './variaveis.scss';

body{
  background-color: $cor-dark;
}

body::-webkit-scrollbar{
  width: 12px;
}

body::-webkit-scrollbar-thumb{
  background-color: $cor-primaria;
  border-radius: 4px;
}
