$cor-primaria: #ED4C5C;
$cor-lightEscura: #ed3143;
$cor-dark: #111111;
$cor-textDark: #292929;
$cor-light: #FFFFFF;
$icon-off: #797979;
$bg-icon: #F9F8F8;
$transparente: #ffffff49;

/* Icones Redes */

$linkedIn: #0e76a8;
$git: #171515;
$wpp: #25D366;
